# Ignore Python cache
**/__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/

# macOS junk
.DS_Store

# VS Code
.vscode/

# Blender backup files
*.blend1
*.blend2

.env
*.env
**/*.env

Backend/